
<div class="container">
  <h2 class="title">UPDATE COURSE {{CoruseToUpdate.courseCode}}</h2>

  <form [formGroup]="courseForm" (ngSubmit)="UpdateCourseToApi()">

    <div class="form-group">
      <label>Course Code</label>
      <input type="text" class="form-control" formControlName="courseCode" placeholder="Enter Course Code">

      <ng-container *ngIf="courseForm.controls['courseCode'].touched || courseForm.controls['courseCode'].dirty">

        <small class="text-danger" *ngIf="courseForm.controls['courseCode'].errors?.['required']">
          Course Code is required.
        </small>

        <small class="text-danger"
          *ngIf="!courseForm.controls['courseCode'].errors?.['required'] && courseForm.controls['courseCode'].errors?.['englishOnly']">
          Only English characters are allowed.
        </small>

        <small class="text-danger"
          *ngIf="!courseForm.controls['courseCode'].errors?.['required']
                && !courseForm.controls['courseCode'].errors?.['englishOnly']
                && courseForm.controls['courseCode'].errors?.['pattern']">
          Format must be COMP followed by 10x, 20x, 30x, or 40x with no space (e.g. COMP102).
        </small>

      </ng-container>
    </div>


    <div class="form-group">
      <label>Course Description</label>
      <textarea class="form-control" formControlName="courseDescription" placeholder="Enter Course Description"></textarea>

      <ng-container *ngIf="courseForm.controls['courseDescription'].touched || courseForm.controls['courseDescription'].dirty">

        <small class="text-danger" *ngIf="courseForm.controls['courseDescription'].errors?.['required']">
          Course Description is required.
        </small>

        <small class="text-danger" *ngIf="!courseForm.controls['courseDescription'].errors?.['required'] && courseForm.controls['courseDescription'].errors?.['englishOnly']">
          Only English characters are allowed.
        </small>

        <small class="text-danger" *ngIf="!courseForm.controls['courseDescription'].errors?.['required'] && !courseForm.controls['courseDescription'].errors?.['englishOnly'] && courseForm.controls['courseDescription'].errors?.['maxlength']">
          Description can't be more than 50 characters.
        </small>

      </ng-container>
    </div>


    <div class="form-row">
      <div class="form-group col">
        <label>Course Hours</label>
        <input type="number" class="form-control" formControlName="course_hours" placeholder="Hours of course">
      </div>

      <div class="form-group col">
        <label>Course Level</label>
        <input type="number" class="form-control" formControlName="course_level" placeholder="Level of course">
      </div>

      <div class="form-group col">
        <label>Course Semester</label>
        <input type="number" class="form-control" formControlName="course_semster" placeholder="Semester of course">
      </div>
    </div>

    <div class="form-group">
      <label>Has Lab?</label>
      <input type="checkbox" formControlName="has_Lab" placeholder="has_Lab">
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label>Midterm Marks</label>
        <input type="number" class="form-control" formControlName="midTerm" placeholder="Midterm Marks">
      </div>

      <div class="form-group col">
        <label>Oral Marks</label>
        <input type="number" class="form-control" formControlName="oral" placeholder="Oral Marks">
      </div>

      <div class="form-group col">
        <label>Final Exam Marks</label>
        <input type="number" class="form-control" formControlName="finalExam" placeholder="Final Exam Marks">
      </div>

      <div class="form-group col">
        <label>Lab Marks</label>
        <input type="number" class="form-control" formControlName="lab" placeholder="Lab Marks">
      </div>

      <div class="form-group col">
        <label>Total Marks</label>
        <input type="number" class="form-control" formControlName="totalMark" placeholder="Total Marks">
      </div>

    </div>

    <button
    type="submit"
    class="btn-submit"
    [disabled]="courseForm.invalid || isLoading"
    [ngClass]="{ 'disabled-btn': courseForm.invalid || isLoading }">
    {{  'Update Course' }}
  </button>


    <p class="text-success" *ngIf="successMessage">{{ successMessage }}</p>
    <p class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>
</div>
